*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    margin-top: 50px;
    background-image: url(img/morning-glow-5120x2880-18274.png);
    background-size: cover;
}

.container{
    display: grid;
    place-items: center;
    margin-top: 200px;
}

.login-box{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    border: 1px solid aliceblue;
    background-color: transparent;
    backdrop-filter: blur(8px);
}

.title-login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: aliceblue;
}

.usuario-login{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.password-login{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
}

.checkbox-login{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: aliceblue;
}

.button-login{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.register-login{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: aliceblue;
}